a {
  text-decoration: none;
  color: #000;
}
.footer {
  border-top: 2px dashed #acacac;
}
.footer-container {
  padding: 20px 0px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 20px;
}
.footer-column-link {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

@media (max-width: 1047px) {
  .footer-row {
    flex-wrap: wrap;
  }
  .footer-column {
    flex: 1 0 30%;
  }
}

@media (max-width: 662px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .footer-column {
    width: 200px;
  }
}
